

/* Enlightenment – active leaf only */
.plugin-enlightenment-active-pane .mod-active .markdown-preview-view :not(:hover) {
    opacity: var(--background-transparency);
}

.plugin-enlightenment-active-pane .mod-active .markdown-preview-view :hover {
    opacity: var(--focus-opacity);
}

.plugin-enlightenment-active-pane :not(.mod-active) {
    opacity: var(--focus-opacity);
}



/* Enlightenment - all panes */
.plugin-enlightenment-full .markdown-preview-view :not(:hover) {
    opacity: var(--background-transparency);
}

.plugin-enlightenment-full .markdown-preview-view :hover {
    opacity: var(--focus-opacity);
}
